*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #18181B;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    max-width: 700px;
    margin-bottom: 84px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: white;
    font-size: 22px;
}

.slider{
    width: 100%;
    border-radius: 5px;
    background-color: #DFDFDF;
    height: 3px;
    outline: none;
    margin-top: px;
}

.button-cta{
    height: 48px;
    background-color: rgb(38, 153, 15);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color: #FFF;
    font-weight: bold;
    font-size: 19px;
}

.container-password{
    max-width: 480px;
    margin:  14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0,40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 18px;
    border: 1px solid #313131;
    transition: transform 0.5s;
    cursor: pointer;
}

.password:hover{
   transform: scale(1.05);

}

.hide{
    display: none;
}

.tooltip{
    color: white;
    background: rgb(15,15,15);
    position: relative;
    top: 20px;
    padding: 6px 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;

}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
    
}